
@{
    ViewBag.Title = "after";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<body style="background-image: url(https://images.unsplash.com/photo-1508615039623-a25605d2b022?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80) ">
   
    <h2>Congratulations!!!!</h2>

